## **Sentiment Analysis Preprocessing**

In [ ]:
#importing req. Lib.

import pandas as pd
import numpy as np
import pickle
import re
import nltk

#Nltk
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import TweetTokenizer
from nltk.stem import SnowballStemmer
from nltk.corpus import wordnet

nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

## **Data frame**

In [ ]:
# Load the collected dataset
file_path = '/content/3_players_dataset.csv'
data = pd.read_csv(file_path, low_memory=False)

## **Perform analysis on the dataset**

##looking into our dataset

**Shape is a function that shows the shape of the data frame (row_numbers, columns_number)**

In [ ]:
# Before Preprocess
data.shape

(132016, 25)

## Head is a function that shows the first 5 rows in default of the data frame

In [ ]:
# Checking the first 10 Rows

data.head(10)

,tweet_created_at,id_str,full_text,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,user_id_str,user_name,user_screen_name,user_location,...,user_created_at,quoted_status_id_str,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,lang,views_count,bookmark_count
0,2024-01-19T23:51:01.000000Z,1.748490e+18,@_VALKlNG @FabrizioRomano And yet Benzema and ...,1.748380e+18,1.116810e+18,_VALKlNG,1.424240e+18,9 inches monster cock,ma_nny001,Deepestpartoftrenches,...,2021-08-08T05:07:47.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,551.0,0.0
1,2024-01-19T23:36:27.000000Z,1.748490e+18,@YemisiKolaa Talking Ronaldo is the only top p...,1.748390e+18,1.530480e+18,YemisiKolaa,1.590850e+18,Jibson,Jibson_02,NaN,...,2022-11-10T23:39:43.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,30.0,0.0
2,2024-01-19T23:12:38.000000Z,1.748480e+18,@_moose_b @THEBOY450066551 @sparkles_art1 @tot...,1.748480e+18,6.072224e+08,_moose_b,1.371700e+18,Frosty 🥶,__2drippy__,NaN,...,2021-03-16T06:01:44.000000Z,NaN,False,0.0,2.0,1.0,1.0,en,112.0,0.0
3,2024-01-19T22:58:46.000000Z,1.748480e+18,@FabrizioRomano Obviously who knows Ligue one ...,1.748400e+18,3.302627e+08,FabrizioRomano,4.322164e+08,JD,jdjosedjd,NaN,...,2011-12-09T05:02:44.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,32.0,0.0
4,2024-01-19T22:55:22.000000Z,1.748480e+18,@Nadal_istheGOAT @FabrizioRomano You've forgot...,1.748410e+18,4.546809e+09,Nadal_istheGOAT,1.318130e+18,Kashope Ola,KashopeOla,NaN,...,2020-10-19T09:49:04.000000Z,NaN,False,0.0,0.0,0.0,2.0,en,122.0,0.0
5,2024-01-19T22:11:15.000000Z,1.748470e+18,@City_Chief @pmcafrica Football is a short ter...,1.748120e+18,3.254605e+09,City_Chief,1.599550e+18,Baba kaNkule SA 🇿🇦,Sbusiso74202589,South Africa,...,2022-12-04T23:41:22.000000Z,NaN,False,0.0,0.0,0.0,2.0,en,294.0,0.0
6,2024-01-19T22:05:50.000000Z,1.748470e+18,@knai22 Players even want to leave the Saudi l...,1.748410e+18,1.010820e+18,knai22,1.143560e+18,SLY,slyprekss,Ghana,...,2019-06-25T16:28:42.000000Z,NaN,False,0.0,1.0,0.0,0.0,en,39.0,0.0
7,2024-01-19T22:05:17.000000Z,1.748470e+18,@gatocabron49 @PandaNoComply @FabrizioRomano N...,1.748380e+18,1.641140e+18,gatocabron49,2.854770e+09,Sinan,androidmp37,България,...,2014-11-01T12:36:13.000000Z,NaN,False,0.0,0.0,0.0,4.0,en,367.0,0.0
8,2024-01-19T22:00:06.000000Z,1.748470e+18,@FabrizioRomano Almighty Benzema could not ban...,1.748370e+18,3.302627e+08,FabrizioRomano,5.456906e+08,Bolakunle,Hurlah_H02,NaN,...,2012-04-05T04:40:41.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,15.0,0.0
9,2024-01-19T21:55:26.000000Z,1.748460e+18,@Ligue1_ENG Lol this was his first game at Sau...,1.748380e+18,2.286882e+08,Ligue1_ENG,1.674870e+18,Anon,an0nuser1997,NaN,...,2023-06-30T20:01:12.000000Z,NaN,False,0.0,4.0,0.0,0.0,en,37.0,0.0

## Tail is a function that shows the last 5 rows in default of the data frame

In [ ]:
# Checking the last 10 Rows
data.tail(10)

,tweet_created_at,id_str,full_text,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,user_id_str,user_name,user_screen_name,user_location,...,user_created_at,quoted_status_id_str,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,lang,views_count,bookmark_count
132006,2022-12-31T13:00:45.000000Z,1.609173e+18,You all (including the media) bullied Cristian...,NaN,NaN,NaN,1.244201e+18,RiRi🌸,priz_pri,NaN,...,2020-03-29T09:52:29.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,41.0,0.0
132007,2022-12-31T13:00:39.000000Z,1.609173e+18,@YOUNGPUNTER2 @FCBAlfredo @kaleembuledi @goal ...,1.608985e+18,1.607373e+18,YOUNGPUNTER2,1.168636e+18,CJ46,OfficialCJ46,Ireland,...,2019-09-02T21:24:26.000000Z,NaN,False,0.0,1.0,0.0,0.0,en,33.0,0.0
132008,2022-12-31T12:59:24.000000Z,1.609172e+18,@PiersUncensored @piersmorgan @TalkTV Do you s...,1.607431e+18,1.455577e+18,PiersUncensored,1.405867e+09,John,Smeagle1845,NaN,...,2013-05-05T19:19:58.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,55.0,0.0
132009,2022-12-31T12:58:04.000000Z,1.609172e+18,@Fcbarcelonab4l @agentmeifes @Bobby_CUV @breat...,1.609165e+18,8.985846e+17,Fcbarcelonab4l,3.563384e+09,MuziDV,22muzidv,NaN,...,2015-09-06T06:29:18.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,417.0,0.0
132010,2022-12-31T12:57:52.000000Z,1.609172e+18,@FrankKhalidUK All is possible!!!! If Messi ha...,1.608879e+18,4.381617e+09,FrankKhalidUK,1.948197e+08,Wil B.,WILBELTRANT,NaN,...,2010-09-25T02:04:55.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,26.0,0.0
132011,2022-12-31T12:57:50.000000Z,1.609172e+18,@kingfishtyty @MoneyMase838382 @FUT23News Exac...,1.609139e+18,1.279498e+18,tt181103,1.483314e+18,Rhiyuk,whosAmxty,NaN,...,2022-01-18T05:41:27.000000Z,NaN,False,0.0,2.0,0.0,1.0,en,127.0,0.0
132012,2022-12-31T12:56:49.000000Z,1.609172e+18,🇵🇹 But only Cristiano Ronaldo is getting hated...,1.609172e+18,1.479817e+18,Temidayoofoyo,1.479817e+18,𝑻𝒆𝒎𝒊𝒅𝒂𝒚𝒐 𝒐𝒇 𝑻𝒆𝒔𝒍𝒂 𝕏,Temidayoofoyo,State of mind,...,2022-01-08T14:07:20.000000Z,NaN,False,0.0,0.0,0.0,1.0,en,34.0,0.0
132013,2022-12-31T12:56:42.000000Z,1.609172e+18,@fiago7 Why not? Didn’t Saudi Arabia beat Arge...,1.609158e+18,1.269574e+18,fiago7,2.762109e+07,pnvc,pnvc,"Lisboa, Portugal",...,2009-03-30T11:38:45.000000Z,NaN,False,0.0,1.0,0.0,0.0,en,331.0,0.0
132014,2022-12-31T12:56:30.000000Z,1.609172e+18,@KalleKeps @Reuters ''He is one of the highest...,1.609170e+18,8.669284e+17,KalleKeps,9.849266e+17,Miixms,miixms_,somewhere,...,2018-04-13T22:49:27.000000Z,NaN,False,0.0,1.0,0.0,0.0,en,123.0,0.0
132015,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Columns is a function that shows the names of the columns

In [ ]:
# viewing the columns in our dataset
data.columns

Index(['tweet_created_at', 'id_str', 'full_text', 'in_reply_to_status_id_str',
       'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user_id_str',
       'user_name', 'user_screen_name', 'user_location',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_statuses_count', 'user_created_at',
       'quoted_status_id_str', 'is_quote_status', 'quote_count', 'reply_count',
       'retweet_count', 'favorite_count', 'lang', 'views_count',
       'bookmark_count'],
      dtype='object')

## Info is a function that shows the info of the columns

In [ ]:
# Viewing the info about our dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132016 entries, 0 to 132015
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   tweet_created_at           132016 non-null  object
 1   id_str                     132013 non-null  float64
 2   full_text                  132013 non-null  object
 3   in_reply_to_status_id_str  99928 non-null   float64
 4   in_reply_to_user_id_str    100627 non-null  float64
 5   in_reply_to_screen_name    100625 non-null  object
 6   user_id_str                132013 non-null  float64
 7   user_name                  132008 non-null  object
 8   user_screen_name           132013 non-null  object
 9   user_location              70622 non-null   object
 10  user_followers_count       132013 non-null  float64
 11  user_friends_count         132013 non-null  float64
 12  user_listed_count          132013 non-null  float64
 13  user_favourites_count      132013 non-null  float64
 14  user_statuses_count        132013 non-null  float64
 15  user_created_at            132013 non-null  object
 16  quoted_status_id_str       0 non-null       float64
 17  is_quote_status            132013 non-null  object
 18  quote_count                132013 non-null  float64
 19  reply_count                132013 non-null  float64
 20  retweet_count              132013 non-null  float64
 21  favorite_count             132013 non-null  float64
 22  lang                       132013 non-null  object
 23  views_count                131970 non-null  float64
 24  bookmark_count             132013 non-null  float64
dtypes: float64(16), object(9)
memory usage: 25.2+ MB

## Nunique is a function that shows the number of unique Values in the columns

In [ ]:
# Checking unique values
data.nunique()

tweet_created_at             125775
id_str                       119235
full_text                    126020
in_reply_to_status_id_str     68705
in_reply_to_user_id_str       33686
in_reply_to_screen_name       31970
user_id_str                   76723
user_name                     66593
user_screen_name              73672
user_location                 17255
user_followers_count          10739
user_friends_count             6417
user_listed_count               694
user_favourites_count         40621
user_statuses_count           32678
user_created_at               73657
quoted_status_id_str              0
is_quote_status                   1
quote_count                      98
reply_count                     218
retweet_count                   355
favorite_count                 1099
lang                             19
views_count                    7368
bookmark_count                   79
dtype: int64

## Isnull is a function that used to detect missing values

In [ ]:
# Checking null values in our dataset
data.isnull().sum()

tweet_created_at                  0
id_str                            3
full_text                         3
in_reply_to_status_id_str     32088
in_reply_to_user_id_str       31389
in_reply_to_screen_name       31391
user_id_str                       3
user_name                         8
user_screen_name                  3
user_location                 61394
user_followers_count              3
user_friends_count                3
user_listed_count                 3
user_favourites_count             3
user_statuses_count               3
user_created_at                   3
quoted_status_id_str         132016
is_quote_status                   3
quote_count                       3
reply_count                       3
retweet_count                     3
favorite_count                    3
lang                              3
views_count                      46
bookmark_count                    3
dtype: int64

## **Preprocessing on dataset**

# Parser is a function that delete or convert unmatched dates in a dataset

---

in date column 'tweet_created_at'

In [ ]:
# Parsing date strings in a DataFrame, converts them to ISO 8601 format, and handles exceptions.
from dateutil import parser

for i, date_str in enumerate(data['tweet_created_at']):
    try:
        datetime_obj = parser.parse(date_str)
        iso8601_str = datetime_obj.isoformat()
        data.at[i, 'tweet_created_at'] = iso8601_str
    except ValueError:
        data.at[i, 'tweet_created_at'] = None

In [ ]:
# Converting 'tweet_created_at' to human-readable date-time format and extracting date:
data['tweet_created_at'] = pd.to_datetime(data['tweet_created_at']).dt.date

In [ ]:
# Converting 'tweet_created_at' to standard datetime format
data['tweet_created_at'] = pd.to_datetime(data['tweet_created_at'])

In [ ]:
print(data['tweet_created_at'].head())

0   2024-01-19
1   2024-01-19
2   2024-01-19
3   2024-01-19
4   2024-01-19
Name: tweet_created_at, dtype: datetime64[ns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132016 entries, 0 to 132015
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   tweet_created_at           132013 non-null  datetime64[ns]
 1   id_str                     132013 non-null  float64
 2   full_text                  132013 non-null  object
 3   in_reply_to_status_id_str  99928 non-null   float64
 4   in_reply_to_user_id_str    100627 non-null  float64
 5   in_reply_to_screen_name    100625 non-null  object
 6   user_id_str                132013 non-null  float64
 7   user_name                  132008 non-null  object
 8   user_screen_name           132013 non-null  object
 9   user_location              70622 non-null   object
 10  user_followers_count       132013 non-null  float64
 11  user_friends_count         132013 non-null  float64
 12  user_listed_count          132013 non-null  float64
 13  user_favourites_count      132013 non-null  float64
 14  user_statuses_count        132013 non-null  float64
 15  user_created_at            132013 non-null  object
 16  quoted_status_id_str       0 non-null       float64
 17  is_quote_status            132013 non-null  object
 18  quote_count                132013 non-null  float64
 19  reply_count                132013 non-null  float64
 20  retweet_count              132013 non-null  float64
 21  favorite_count             132013 non-null  float64
 22  lang                       132013 non-null  object
 23  views_count                131970 non-null  float64
 24  bookmark_count             132013 non-null  float64
dtypes: datetime64[ns](1), float64(16), object(8)
memory usage: 25.2+ MB

In [ ]:
data.head()

,tweet_created_at,id_str,full_text,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,user_id_str,user_name,user_screen_name,user_location,...,user_created_at,quoted_status_id_str,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,lang,views_count,bookmark_count
0,2024-01-19,1.748490e+18,@_VALKlNG @FabrizioRomano And yet Benzema and ...,1.748380e+18,1.116810e+18,_VALKlNG,1.424240e+18,9 inches monster cock,ma_nny001,Deepestpartoftrenches,...,2021-08-08T05:07:47.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,551.0,0.0
1,2024-01-19,1.748490e+18,@YemisiKolaa Talking Ronaldo is the only top p...,1.748390e+18,1.530480e+18,YemisiKolaa,1.590850e+18,Jibson,Jibson_02,NaN,...,2022-11-10T23:39:43.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,30.0,0.0
2,2024-01-19,1.748480e+18,@_moose_b @THEBOY450066551 @sparkles_art1 @tot...,1.748480e+18,6.072224e+08,_moose_b,1.371700e+18,Frosty 🥶,__2drippy__,NaN,...,2021-03-16T06:01:44.000000Z,NaN,False,0.0,2.0,1.0,1.0,en,112.0,0.0
3,2024-01-19,1.748480e+18,@FabrizioRomano Obviously who knows Ligue one ...,1.748400e+18,3.302627e+08,FabrizioRomano,4.322164e+08,JD,jdjosedjd,NaN,...,2011-12-09T05:02:44.000000Z,NaN,False,0.0,0.0,0.0,0.0,en,32.0,0.0
4,2024-01-19,1.748480e+18,@Nadal_istheGOAT @FabrizioRomano You've forgot...,1.748410e+18,4.546809e+09,Nadal_istheGOAT,1.318130e+18,Kashope Ola,KashopeOla,NaN,...,2020-10-19T09:49:04.000000Z,NaN,False,0.0,0.0,0.0,2.0,en,122.0,0.0

## Min is a function to shows the oldest date row

In [ ]:
data['tweet_created_at'].min()

Timestamp('2022-12-31 00:00:00')

## Max is a function to shows the newest date row

In [ ]:
data['tweet_created_at'].max()

Timestamp('2024-01-19 00:00:00')

## Viewing date info about rows

In [ ]:
#checking uniques values in tweet_created columns

data['tweet_created_at'].nunique()

385

In [ ]:
numberoftweets = data.groupby('tweet_created_at').size()

In [ ]:
numberoftweets.dtype

dtype('int64')

In [ ]:
numberoftweets

tweet_created_at
2022-12-31     934
2023-01-01     819
2023-01-02     862
2023-01-03    1785
2023-01-04     964
              ...
2024-01-15     272
2024-01-16     248
2024-01-17     334
2024-01-18     489
2024-01-19     861
Length: 385, dtype: int64

# **Treating with null values**

## Isna is a function that checks the null values
## Sum is a function that sum the rows

In [ ]:
data.isna().sum()

tweet_created_at                  3
id_str                            3
full_text                         3
in_reply_to_status_id_str     32088
in_reply_to_user_id_str       31389
in_reply_to_screen_name       31391
user_id_str                       3
user_name                         8
user_screen_name                  3
user_location                 61394
user_followers_count              3
user_friends_count                3
user_listed_count                 3
user_favourites_count             3
user_statuses_count               3
user_created_at                   3
quoted_status_id_str         132016
is_quote_status                   3
quote_count                       3
reply_count                       3
retweet_count                     3
favorite_count                    3
lang                              3
views_count                      46
bookmark_count                    3
dtype: int64

## View the Percentage null in each column

In [ ]:
print("Percentage null or na values in df")
((data.isnull() | data.isna()).sum() * 100 / data.index.size).round(2)

Percentage null or na values in df

tweet_created_at               0.00
id_str                         0.00
full_text                      0.00
in_reply_to_status_id_str     24.31
in_reply_to_user_id_str       23.78
in_reply_to_screen_name       23.78
user_id_str                    0.00
user_name                      0.01
user_screen_name               0.00
user_location                 46.50
user_followers_count           0.00
user_friends_count             0.00
user_listed_count              0.00
user_favourites_count          0.00
user_statuses_count            0.00
user_created_at                0.00
quoted_status_id_str         100.00
is_quote_status                0.00
quote_count                    0.00
reply_count                    0.00
retweet_count                  0.00
favorite_count                 0.00
lang                           0.00
views_count                    0.03
bookmark_count                 0.00
dtype: float64

# Drop the Unneeded Columns

In [ ]:
del data['quoted_status_id_str']

In [ ]:
del data['user_created_at']

In [ ]:
del data['user_location']

In [ ]:
del data['in_reply_to_status_id_str']

In [ ]:
del data['in_reply_to_screen_name']

In [ ]:
del data['user_name']

In [ ]:
del data['user_screen_name']

In [ ]:
del data['user_followers_count']

In [ ]:
del data['user_friends_count']

In [ ]:
del data['user_listed_count']

In [ ]:
del data['user_favourites_count']

In [ ]:
del data['user_statuses_count']

In [ ]:
del data['is_quote_status']

In [ ]:
del data['quote_count']

In [ ]:
del data['retweet_count']

In [ ]:
del data['favorite_count']

In [ ]:
del data['bookmark_count']

In [ ]:
del data['views_count']

In [ ]:
del data['user_id_str']

In [ ]:
del data['lang']

In [ ]:
del data['reply_count']

In [ ]:
del data['in_reply_to_user_id_str']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132016 entries, 0 to 132015
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tweet_created_at  132013 non-null  datetime64[ns]
 1   id_str            132013 non-null  float64
 2   full_text         132013 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.0+ MB

In [ ]:
data.head(10)

,tweet_created_at,id_str,full_text
0,2024-01-19,1.748490e+18,@_VALKlNG @FabrizioRomano And yet Benzema and ...
1,2024-01-19,1.748490e+18,@YemisiKolaa Talking Ronaldo is the only top p...
2,2024-01-19,1.748480e+18,@_moose_b @THEBOY450066551 @sparkles_art1 @tot...
3,2024-01-19,1.748480e+18,@FabrizioRomano Obviously who knows Ligue one ...
4,2024-01-19,1.748480e+18,@Nadal_istheGOAT @FabrizioRomano You've forgot...
5,2024-01-19,1.748470e+18,@City_Chief @pmcafrica Football is a short ter...
6,2024-01-19,1.748470e+18,@knai22 Players even want to leave the Saudi l...
7,2024-01-19,1.748470e+18,@gatocabron49 @PandaNoComply @FabrizioRomano N...
8,2024-01-19,1.748470e+18,@FabrizioRomano Almighty Benzema could not ban...
9,2024-01-19,1.748460e+18,@Ligue1_ENG Lol this was his first game at Sau...

In [ ]:
data.tail(10)

,tweet_created_at,id_str,full_text
132006,2022-12-31,1.609173e+18,You all (including the media) bullied Cristian...
132007,2022-12-31,1.609173e+18,@YOUNGPUNTER2 @FCBAlfredo @kaleembuledi @goal ...
132008,2022-12-31,1.609172e+18,@PiersUncensored @piersmorgan @TalkTV Do you s...
132009,2022-12-31,1.609172e+18,@Fcbarcelonab4l @agentmeifes @Bobby_CUV @breat...
132010,2022-12-31,1.609172e+18,@FrankKhalidUK All is possible!!!! If Messi ha...
132011,2022-12-31,1.609172e+18,@kingfishtyty @MoneyMase838382 @FUT23News Exac...
132012,2022-12-31,1.609172e+18,🇵🇹 But only Cristiano Ronaldo is getting hated...
132013,2022-12-31,1.609172e+18,@fiago7 Why not? Didn’t Saudi Arabia beat Arge...
132014,2022-12-31,1.609172e+18,@KalleKeps @Reuters ''He is one of the highest...
132015,NaT,NaN,NaN

In [ ]:
data.isnull().sum()

tweet_created_at    3
id_str              3
full_text           3
dtype: int64

# **EDA**

# Convert 'full_text' from object datatype to string to perform preprocessing on

In [ ]:
# Convert the 'full_text' column in the DataFrame 'data' to string data type
data['full_text'] = data['full_text'].astype("string")

In [ ]:
# Defining dictionary containing all emojis with their meanings
emojis = {':)': 'smile', ':-)': 'smile', ';d': 'wink', ':-E': 'vampire', ':(': 'sad',
          ':-(': 'sad', ':-<': 'sad', ':P': 'raspberry', ':O': 'surprised',
          ':-@': 'shocked', ':@': 'shocked',':-$': 'confused', ':\\': 'annoyed',
          ':#': 'mute', ':X': 'mute', ':^)': 'smile', ':-&': 'confused', '$_$': 'greedy',
          '@@': 'eyeroll', ':-!': 'confused', ':-D': 'smile', ':-0': 'yell', 'O.o': 'confused',
          '<(-_-)>': 'robot', 'd[-_-]b': 'dj', ":'-)": 'sadsmile', ';)': 'wink',
          ';-)': 'wink', 'O:-)': 'angel','O*-)': 'angel','(:-D': 'gossip', '=^.^=': 'cat'}

In [ ]:
def preprocess(textdata):
    processedText = []

    # Defining regex patterns.
    urlPattern = r"((http://)[^ ]*|(https://)[^ ]*|( www\.)[^ ]*)"
    userPattern = r'@[^\s]+'
    alphaPattern = r"[^a-zA-Z0-9]"
    sequencePattern = r"(.)\1\1+"
    seqReplacePattern = r"\1\1"

    for tweet in textdata:
        if pd.notnull(tweet):  # Check for missing values
            tweet = tweet.lower()

            # Replace all URLs with 'URL'
            tweet = re.sub(urlPattern, 'URL', tweet)

            # Replace @USERNAME with 'USER'
            tweet = re.sub(userPattern, 'USER', tweet)

            # Remove emojis
            for emoji in emojis.keys():
                tweet = tweet.replace(emoji, '')

            # Remove all non-alphabetic characters
            tweet = re.sub(alphaPattern, " ", tweet)

            # Replace 3 or more consecutive letters by 2 letters
            tweet = re.sub(sequencePattern, seqReplacePattern, tweet)

            processedText.append(tweet)
        else:
            processedText.append('')

    return processedText

processed_tweets = preprocess(data['full_text'])

In [ ]:
# Assign the preprocessed tweets stored in the 'processed_tweets' list to a new column named 'preprocessed_text' in the DataFrame 'data'.
data['preprocessed_text'] = processed_tweets

In [ ]:
# Handle missing values
data.dropna(inplace=True)

In [ ]:
# Handle Duplicate values
data.drop_duplicates(inplace=True)

In [ ]:
# Remove < 3 words in full text rows
data= data[data['preprocessed_text'].apply(lambda x: len(x.split()) > 2)]

In [ ]:
# Display the updated dataset
print(data.head(10))

  tweet_created_at        id_str  \
0       2024-01-19  1.748490e+18
1       2024-01-19  1.748490e+18
2       2024-01-19  1.748480e+18
3       2024-01-19  1.748480e+18
4       2024-01-19  1.748480e+18
5       2024-01-19  1.748470e+18
6       2024-01-19  1.748470e+18
7       2024-01-19  1.748470e+18
8       2024-01-19  1.748470e+18
9       2024-01-19  1.748460e+18

                                           full_text  \
0  @_VALKlNG @FabrizioRomano And yet Benzema and ...
1  @YemisiKolaa Talking Ronaldo is the only top p...
2  @_moose_b @THEBOY450066551 @sparkles_art1 @tot...
3  @FabrizioRomano Obviously who knows Ligue one ...
4  @Nadal_istheGOAT @FabrizioRomano You've forgot...
5  @City_Chief @pmcafrica Football is a short ter...
6  @knai22 Players even want to leave the Saudi l...
7  @gatocabron49 @PandaNoComply @FabrizioRomano N...
8  @FabrizioRomano Almighty Benzema could not ban...
9  @Ligue1_ENG Lol this was his first game at Sau...

                                   preprocessed_text
0  USER USER and yet benzema and co dy stink for ...
1  USER talking ronaldo is the only top player at...
2  USER USER USER USER USER i m speaking reality ...
3  USER obviously who knows ligue one players  on...
4  USER USER you ve forgotten benzema  firminho  ...
5  USER USER football is a short term career it s...
6  USER players even want to leave the saudi leag...
7  USER USER USER not only ligue 2  any country w...
8  USER almighty benzema could not bang 20 goals ...
9  USER lol this was his first game at saudi and ...

In [ ]:
del data['tweet_created_at']

In [ ]:
del data['full_text']

In [ ]:
del data['id_str']

In [ ]:
data.shape

(130300, 1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130300 entries, 0 to 132014
Data columns (total 1 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   preprocessed_text  130300 non-null  object
dtypes: object(1)
memory usage: 2.0+ MB

In [ ]:
data.nunique()

preprocessed_text    123087
dtype: int64

In [ ]:
# Save the preprocessed data to a new CSV file
data.to_csv('/finaldatasetpreprocessed.csv', index=False)

# Tokenization, Steaming, and Lemmatization, Remove stopwords

In [ ]:
def get_wordnet_pos(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)


# Function to tokenize, remove stop words, and lemmatize text data
def preprocess_text(df, text_column):
    tokenizer = TweetTokenizer()
    stop_words = set(stopwords.words('english'))
    lemmatizer = WordNetLemmatizer()

    df[text_column + '_tokenized'] = df[text_column].apply(tokenizer.tokenize)
    df[text_column + '_tokenized'] = df[text_column + '_tokenized'].apply(lambda tokens: [lemmatizer.lemmatize(token, get_wordnet_pos(token)) for token in tokens if token.lower() not in stop_words])

    # Remove instances of the word 'user'
    df[text_column + '_tokenized'] = df[text_column + '_tokenized'].apply(lambda tokens: [token for token in tokens if token.lower() != 'user'])
    df[text_column + '_tokenized'] = df[text_column + '_tokenized'].apply(lambda tokens: [token for token in tokens if not token.isdigit()])
    return df



# Function to save the DataFrame to a new CSV file
def save_to_csv(df, output_filename):
    df.to_csv(output_filename, index=False)
    print(f"Processed data saved to {output_filename}")

# Load the data
file_path ='/finaldatasetpreprocessed.csv'
data = pd.read_csv(file_path, low_memory=False)

# Explore the data
print("Original Data:")
print(data.head())
print("\nData Info:")
print(data.info())

# Specify the text column in the DataFrame
text_column = 'preprocessed_text'

# Preprocessing pipeline
data = preprocess_text(data, text_column)

# Explore the preprocessed data
print("\nPreprocessed Data:")
print(data.head())

# Save the processed data to a new CSV file
output_filename = 'finalpreprocesseddataset.csv'
save_to_csv(data, output_filename)

Original Data:
                                   preprocessed_text
0  USER USER and yet benzema and co dy stink for ...
1  USER talking ronaldo is the only top player at...
2  USER USER USER USER USER i m speaking reality ...
3  USER obviously who knows ligue one players  on...
4  USER USER you ve forgotten benzema  firminho  ...

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130300 entries, 0 to 130299
Data columns (total 1 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   preprocessed_text  130300 non-null  object
dtypes: object(1)
memory usage: 1018.1+ KB
None

Preprocessed Data:
                                   preprocessed_text  \
0  USER USER and yet benzema and co dy stink for ...
1  USER talking ronaldo is the only top player at...
2  USER USER USER USER USER i m speaking reality ...
3  USER obviously who knows ligue one players  on...
4  USER USER you ve forgotten benzema  firminho  ...

                         preprocessed_text_tokenized
0          [yet, benzema, co, dy, stink, saudi, lol]
1  [talk, ronaldo, top, player, saudi, benzema, m...
2  [speak, reality, penaldo, delude, hate, see, s...
3  [obviously, know, ligue, one, player, psg, un,...
4  [forgotten, benzema, firminho, mahrez, also, p...
Processed data saved to finalpreprocesseddataset.csv

In [ ]:
del data['preprocessed_text']

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data = data[data['preprocessed_text_tokenized'].apply(lambda x: len(x) > 2)]

In [ ]:
# After preprocessing
data.shape

(118298, 1)

# Save the processed data to a new CSV file

In [ ]:
# Save the processed data to a new CSV file
output_filename = 'final_dataset.csv'
save_to_csv(data, output_filename)
print("Dataset have been saved successfully to", output_filename, "file")

Processed data saved to final_dataset.csv
Dataset have been saved successfully to final_dataset.csv file